@font-face {
  font-family: EweMn; /* set name */
  src: url(EweMnLg-Regular.otf); /* url of the font */
}
.ps {font-family: EweMn;
	}
	
.psb {
	font-family: EweMn;
  font-weight: bold;
}

.ruby {ruby-align: start;
  margin-bottom: -0.4em;
  
}