@font-face {
  font-family: EweMn; /* set name */
  src: url(EweMnLg-Regular.otf); /* url of the font */
}
.ps {font-family: EweMn;
	}
	
.psb {
	font-family: EweMn;
  font-weight: bold;
  margin-top: 100px;
  letter-spacing: -2px;
}

.ruby {ruby-align: start;
  margin-top: 100px;
  margin-bottom: 100px;
  
}